rockspec_format = "3.0"
package = "{{data["name"] }}"
version = "{{data["version"] }}"
source = {
   url = "{{ data["url"] }}",
}
description = {
   summary = "{{ data["title"]  }}",
   detailed = [[
      {{ data["description"]}}
   ]],
   homepage = "{{ data["url"] }}",
   maintainer = "{{ data["author"] }}",
   license = "{{ data["license"] }}",
}
dependencies = {
   "lua >= 5.1"
}
build = {
  type = 'builtin',
  modules = {
    {{data["name"] }} = '{{ data["path_to_file"] }}'
  }
}
