include *.lock
include *.py
include *.txt
include LICENSE
include Pipfile
include *.md
include *.toml
recursive-include so_pip *.bak
recursive-include so_pip *.html
recursive-include so_pip *.ini
recursive-include so_pip *.jinja
recursive-include so_pip *.txt
recursive-include so_pip *.csv
recursive-include so_pip *.md
recursive-include so_pip *.py
recursive-include so_pip *.html
recursive-include so_pip *.txt
prune so_pip/_cache

prune .editorconfig
prune .pynt
prune .license_rules
prune .pylintrc
prune .dockerignore
prune .pylintrc_scripts
prune .pylintrc_test
prune so_pip\tmp
prune test
prune vendor
prune .config
prune on_hold
prune reports
prune scripts
prune .so_pip.ini
prune .env_example
