=======
History
=======
{% for version in item %}
{{ version["version"] }} ({{ version["date"]}})
-----------------------
* {{ version["changes"]["user"] }},{{ version["changes"]["content_license"] }},{{ ('\n' ~ version["changes"]["comment"]) | wordwrap(140) | replace('\n', '\n# ') }}
{% endfor %}
