# Changelog
{{ item["header"] }}

## [Unreleased]

{% for version in item %}
    ## [{{ version["version"] }}] - {{ version["date"] }}
    ### Added
    - {{ ('\n' ~ version["changes"]["comment"]) | wordwrap(140) | replace('\n', '\n# ') }}
    {{ version["changes"]["content_license"] }} [{{ version["changes"]["user"] }}]({{ version["changes"]["link"] }}).
{% endfor %}

{% for version in item %}
    [{{ version["version"] }}]: {{ version["revision_url"] }}
{% endfor %}
