<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item["title"] }}</title>
</head>
<link rel="stylesheet" href="https://latex.now.sh/style.css">
<link rel="stylesheet" href="https://latex.now.sh/prism/prism.css">

<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
<style>
    BODY {
        max-width: 140ch
    }
</style>
<body>
{{ item["content"] }}

<hr/>
<ul>{% for comment in item["comments"] %}
    <li>{{ comment }}</li>
{% endfor %}</ul>
</body>
</html>
