"""
Author: {{ data["author"] }}
Post Link: {{ data["post_link"] }}
See link for additional contributors.
License: {{ data["license"] }}
Date:  {{ data["date"] }}
Answer Url: {{ data["post_url"] }}
"""

__title__ = "{{ data["title"] }}"
__version__ = "{{ data["version"] }}"
__author__ = "{{ data["author"] }}"
__license__ = "{{ data["license"] }}"
__copyright__ = "Copyright {{ data["creation_date"] }} by {{ data["author"] }}",

{{data["code"]}}
